.container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  min-width: 300px;
  max-width: 500px;
  max-height: auto;
  margin-bottom: 10px;

  .item {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
  }
  .item-name {
    min-width: 70px;
    font-size: 15px;
    margin: 5px;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
  }
  .item-value {
    min-width: 250px;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    font-size: 15px;
    margin-left: 15px;
    display: flex;
    justify-content: center;
  }
}
