<div *ngFor="let user of userArray" class="container">
  <div class="item">
    <div class="item-name">E-mail</div>
    <div class="item-value">{{ user.email }}</div>
    <button class="btn" (click)="editUser(user.id)">EDIT</button>
  </div>

  <div class="item">
    <div class="item-name">Password</div>
    <div class="item-value">{{ user.password }}</div>
  </div>

  <div class="item">
    <div class="item-name">NickName</div>
    <div class="item-value">{{ user.nickName }}</div>
  </div>

  <div class="item">
    <div class="item-name">Phone</div>
    <div class="item-value">{{ user.phone }}</div>
  </div>

  <div class="item">
    <div class="item-name">Website</div>
    <div class="item-value">{{ user.website }}</div>
    <button class="btn" (click)="deleteUser(user.id)">Delete</button>
  </div>
</div>

<app-edit-users *ngIf="edit" [currentUser]="currentUser"></app-edit-users>
